{% extends 'web_app/base.html' %}
{% block title %}
    Diary
{% endblock %}

{% block content %}
    <div class="features">
		<form method="POST" action="{% url 'diary' %}" class="input-form">

			{% csrf_token %}
			<p>
				{{ form.title.label }}<br>
				<br> 
				{{ form.title }}<br> 
			</p>
			<br>
			<br> 
			<p>
				{{ form.content.label }}<br> 
				<br> 
				{{ form.content }}
			</p>
			<br> 
			<br> 
			<p>
				<input type="submit" value="Confirm" class="btn">
			</p>
		</form>
	</div>
{% endblock %}
    <hr>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>