{% extends 'web_app/base.html' %}
{% block title %}
About Us 
{% endblock %}


{% block content %}
    <main class="main">
        <section class="intro">
            <div class="wrapper">
                <p class="intro__subtitle">
                    Этот проект был разработан одним не очень опытным, но очень гордым разработчиком.
                    Проект наполнен надеждой и ожиданием будущих приключений, когда можно будет встать у штурвала и поплыть к горизонту!  
                    Проект является отражением моих навыков и вкусов в дизайне на момент создания сайта. Буду рад обратной связи и конструктвной критике в адрес моего web-приложения. 
                                                                                                                                 Kir_Allen 
                </p>
            </div>
        </section>
    </main>

{% endblock %}




