{% extends 'web_app/base.html' %}
{% block title %}
Main Page
{% endblock %}


{% block content %}

        <img class="Kompas" src="static\images/Компас.png" alt="Kompas">

        <div class="intro">
                <h1 class="intro__title">Спланируй приключения, ради которых стоит жить</h1>
        </div>

        <img class="Main_Dragon" src="static\images/Main_Dragon.png" alt="Main Dragon">
        <img class="Birds" src="static\images/Birds.png" alt="Birds">
        <img class="Main_Ship" src="static\images\main_ship1.png" alt="Main Ship">


{% endblock %}

